<div class="container" id="editor-section">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title">Upload images</div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="image-picker" id="image-picker-label">Choose a file</label>
            <input type="file" id="image-picker" accept="image/*" multiple />
            <button type="button" id="image-src-btn" (click)="chooseImageSrc()">Choose from source</button>
            <button type="button" id="upload-image-btn" class="submit-btn" (click)="uploadImages()">
              <i class="fas fa-cloud-upload-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="container" id="post-section">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title">Edit post</div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input type="text" class="post-input" placeholder="Title" id="post-title" [(ngModel)]="editedPostModel.title" />
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <select class="post-input" id="post-category"></select>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <textarea class="post-input post-textarea" placeholder="Short description" id="post-short-description" [(ngModel)]="editedPostModel.shortDescription" ></textarea>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <textarea placeholder="Content" id="post-content"></textarea>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="submit" id="submit-post-btn" (click)="submitEditedPost()" class="submit-btn">
              <i class="fas fa-cloud-upload-alt"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6"></div>
  </div>
</div>

