<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="mode-btn-container">
        <button type="button" id="add-category-btn" class="mode-btn" (click)="addModeOn()">Add</button>
        <button type="button" id="edit-category-btn" class="mode-btn-inactive" (click)="editModeOn()">Edit</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <input type="text" class="category-input" placeholder="Name" id="category-name-input" name="Name" (keyup)="updateNameInput($event)" [(ngModel)]="editedCategoryModel.name" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <textarea class="category-input" placeholder="Description" id="category-description-input" name="Description" (keyup)="updateDescriptionInput($event)" [(ngModel)]="editedCategoryModel.description"></textarea>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" id="submit-category-btn" (click)="submitCategory()">
        <i class="fas fa-cloud-upload-alt"></i>
      </button>
    </div>
  </div>
</div>