$background: rgba(13, 13, 13, 0.85);
$border: #0d0d0d;
$font: #fafafa;
$blue: #007aff;
$red: #ff2d55;

.category-data-container {
    color: $font;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

:host {
    margin-bottom: 20px;
}

.select-category-btn {
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    color: $blue;
    padding: 0;
}

.category-card {
    background-color: $background;
    border: 1px solid $border;
    border-radius: 3px;
}