:host {
    margin-bottom: 30px;
}

.post-title, .post-summary, .post-author, .post-date, .post-category {
    color: #fafafa;
    margin-bottom: 10px;
}

.post-img {
    width: 100%;
    border-radius: 3px;
}

.post-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
}

.post-date {
    font-size: 14px;
    font-weight: 600;
}

.post-summary {
    font-size: 14px;
    font-weight: 400;
}