<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-img-container">
      <img class="post-img" src="{{ postCardModel.thumbnailImageSrc }}" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p class="post-title">{{ postCardModel.title }}</p>
      <p class="post-date">{{ postCardModel.createdDate }} - {{ postCardModel.updatedDate }}</p>
      <p class="post-summary">{{ postCardModel.summary }}</p>
    </div>
  </div>
</div>
