div {
    color: #fafafa;
    font-size: 14px;
}

.category-row {
    margin-bottom: 20px;
}

.select-category-btn {
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #5ac8fa;
    padding: 0;
}